// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;


  body .container{
    width: 100%;
    background-color: indigo;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    header, footer{
      text-align: center;
      width: 100%;
      height: 50px;
      background-color: black;
    }

    .drinks-box{
      width: 300px;
      height: 300px;
      background-color: black;
      color: white;
      font-size: 15px;

      margin: 10px;
      padding: 10px;

    }
  }



}
